{% extends "core/auth/sign-in.html" %} {% load static %} {% block title %}FC Dinamo - {{ page_title }}{% endblock title %} {% block css %} {% endblock css %}
{% block auth %}
<div class="card p-4">
    <div class="auth-brand text-center mb-4">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/favicon.png' %}" width="55" height="55" alt="logo" />
        </a>
        <h4 class="fw-bold text-dark mt-3">FC Dinamo | Ro'yxatdan o'tish</h4>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="userName" class="form-label">
                Foydalanuvchi nomi
                <span class="text-danger">*</span>
            </label>
            <div class="input-group">
                <input type="text" class="form-control" id="userName" name="username" placeholder="username" required />
            </div>
        </div>

        <div class="mb-3">
            <label for="userEmail" class="form-label">
                Email manzil
                <span class="text-danger">*</span>
            </label>
            <div class="input-group">
                <input type="email" class="form-control" id="userEmail" name="email" placeholder="you@example.com" required />
            </div>
        </div>

        <div class="mb-3" data-password="bar">
            <label for="userPassword" class="form-label">
                Parol
                <span class="text-danger">*</span>
            </label>
            <div class="input-group">
                <input type="password" class="form-control" id="userPassword" name="password" placeholder="••••••••" required />
            </div>
            <div class="password-bar my-2"></div>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary fw-semibold py-2">Ro'yxatdan o'tish</button>
        </div>
    </form>

    <p class="text-muted text-center mt-4 mb-0">
        Akkauntingiz bormi?
        <a href="{% url 'sign-in' %}" class="text-decoration-underline link-offset-3 fw-semibold">Kirish</a>
    </p>
</div>
{% endblock auth %} {% block js %} {% endblock js %}