-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: fcdinamo
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_myclub`
--

DROP TABLE IF EXISTS `core_myclub`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_myclub` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `team_id` bigint NOT NULL,
  `achievements` longtext,
  `history` longtext,
  `stadium` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `team_id` (`team_id`),
  CONSTRAINT `core_myclub_team_id_5e7236d0_fk_teams_team_id` FOREIGN KEY (`team_id`) REFERENCES `teams_team` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_myclub`
--

LOCK TABLES `core_myclub` WRITE;
/*!40000 ALTER TABLE `core_myclub` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_myclub` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_users_customuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_users_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `users_customuser` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(2,'auth','group'),(3,'auth','permission'),(4,'contenttypes','contenttype'),(6,'core','myclub'),(12,'leagues','league'),(13,'leagues','season'),(14,'leagues','teamtype'),(22,'matches','match'),(7,'news','news'),(8,'news','newscomment'),(9,'news','newslike'),(10,'news','newstag'),(5,'sessions','session'),(15,'teams','coach'),(16,'teams','coachposition'),(17,'teams','management'),(18,'teams','managementposition'),(19,'teams','player'),(20,'teams','playerposition'),(21,'teams','team'),(11,'users','customuser');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leagues_league`
--

DROP TABLE IF EXISTS `leagues_league`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leagues_league` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `logo` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leagues_league`
--

LOCK TABLES `leagues_league` WRITE;
/*!40000 ALTER TABLE `leagues_league` DISABLE KEYS */;
/*!40000 ALTER TABLE `leagues_league` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leagues_season`
--

DROP TABLE IF EXISTS `leagues_season`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leagues_season` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `year` smallint unsigned NOT NULL,
  `team_type_id` bigint NOT NULL,
  `league_id` bigint NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `leagues_season_league_id_e0df13b7_fk_leagues_league_id` (`league_id`),
  KEY `leagues_season_team_type_id_4f77c4b6` (`team_type_id`),
  CONSTRAINT `leagues_season_league_id_e0df13b7_fk_leagues_league_id` FOREIGN KEY (`league_id`) REFERENCES `leagues_league` (`id`),
  CONSTRAINT `leagues_season_team_type_id_4f77c4b6_fk_leagues_teamtype_id` FOREIGN KEY (`team_type_id`) REFERENCES `leagues_teamtype` (`id`),
  CONSTRAINT `leagues_season_chk_1` CHECK ((`year` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leagues_season`
--

LOCK TABLES `leagues_season` WRITE;
/*!40000 ALTER TABLE `leagues_season` DISABLE KEYS */;
/*!40000 ALTER TABLE `leagues_season` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leagues_teamtype`
--

DROP TABLE IF EXISTS `leagues_teamtype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leagues_teamtype` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(100) NOT NULL,
  `name` varchar(100) NOT NULL,
  `order` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leagues_teamtype`
--

LOCK TABLES `leagues_teamtype` WRITE;
/*!40000 ALTER TABLE `leagues_teamtype` DISABLE KEYS */;
/*!40000 ALTER TABLE `leagues_teamtype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matches_match`
--

DROP TABLE IF EXISTS `matches_match`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matches_match` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `home_goals` smallint unsigned NOT NULL,
  `away_goals` smallint unsigned NOT NULL,
  `match_date` datetime(6) NOT NULL,
  `is_finished` tinyint(1) NOT NULL,
  `away_team_id` bigint NOT NULL,
  `home_team_id` bigint NOT NULL,
  `season_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `matches_match_away_team_id_d1513cbf_fk_teams_team_id` (`away_team_id`),
  KEY `matches_match_home_team_id_cdfabc57_fk_teams_team_id` (`home_team_id`),
  KEY `matches_match_season_id_09c8c091_fk_leagues_season_id` (`season_id`),
  CONSTRAINT `matches_match_away_team_id_d1513cbf_fk_teams_team_id` FOREIGN KEY (`away_team_id`) REFERENCES `teams_team` (`id`),
  CONSTRAINT `matches_match_home_team_id_cdfabc57_fk_teams_team_id` FOREIGN KEY (`home_team_id`) REFERENCES `teams_team` (`id`),
  CONSTRAINT `matches_match_season_id_09c8c091_fk_leagues_season_id` FOREIGN KEY (`season_id`) REFERENCES `leagues_season` (`id`),
  CONSTRAINT `matches_match_chk_1` CHECK ((`home_goals` >= 0)),
  CONSTRAINT `matches_match_chk_2` CHECK ((`away_goals` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matches_match`
--

LOCK TABLES `matches_match` WRITE;
/*!40000 ALTER TABLE `matches_match` DISABLE KEYS */;
/*!40000 ALTER TABLE `matches_match` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news_news`
--

DROP TABLE IF EXISTS `news_news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_news` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `short_description` longtext NOT NULL,
  `content` longtext NOT NULL,
  `image` varchar(100) NOT NULL,
  `views_count` int unsigned NOT NULL,
  `telegram_url` varchar(200) NOT NULL,
  `facebook_url` varchar(200) NOT NULL,
  `instagram_url` varchar(200) NOT NULL,
  `is_published` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `author_id` bigint DEFAULT NULL,
  `category_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `news_news_author_id_9f88be71_fk_users_customuser_id` (`author_id`),
  KEY `news_news_category_id_f060a768_fk_leagues_teamtype_id` (`category_id`),
  CONSTRAINT `news_news_author_id_9f88be71_fk_users_customuser_id` FOREIGN KEY (`author_id`) REFERENCES `users_customuser` (`id`),
  CONSTRAINT `news_news_category_id_f060a768_fk_leagues_teamtype_id` FOREIGN KEY (`category_id`) REFERENCES `leagues_teamtype` (`id`),
  CONSTRAINT `news_news_chk_1` CHECK ((`views_count` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_news`
--

LOCK TABLES `news_news` WRITE;
/*!40000 ALTER TABLE `news_news` DISABLE KEYS */;
/*!40000 ALTER TABLE `news_news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news_news_tags`
--

DROP TABLE IF EXISTS `news_news_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_news_tags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `news_id` bigint NOT NULL,
  `newstag_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_news_tags_news_id_newstag_id_bfc1691b_uniq` (`news_id`,`newstag_id`),
  KEY `news_news_tags_newstag_id_74922b2b_fk_news_newstag_id` (`newstag_id`),
  CONSTRAINT `news_news_tags_news_id_89daf256_fk_news_news_id` FOREIGN KEY (`news_id`) REFERENCES `news_news` (`id`),
  CONSTRAINT `news_news_tags_newstag_id_74922b2b_fk_news_newstag_id` FOREIGN KEY (`newstag_id`) REFERENCES `news_newstag` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_news_tags`
--

LOCK TABLES `news_news_tags` WRITE;
/*!40000 ALTER TABLE `news_news_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `news_news_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news_newscomment`
--

DROP TABLE IF EXISTS `news_newscomment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_newscomment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `text` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `news_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `news_newscomment_news_id_1973ce40_fk_news_news_id` (`news_id`),
  KEY `news_newscomment_user_id_4adfa43c_fk_users_customuser_id` (`user_id`),
  CONSTRAINT `news_newscomment_news_id_1973ce40_fk_news_news_id` FOREIGN KEY (`news_id`) REFERENCES `news_news` (`id`),
  CONSTRAINT `news_newscomment_user_id_4adfa43c_fk_users_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `users_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_newscomment`
--

LOCK TABLES `news_newscomment` WRITE;
/*!40000 ALTER TABLE `news_newscomment` DISABLE KEYS */;
/*!40000 ALTER TABLE `news_newscomment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news_newslike`
--

DROP TABLE IF EXISTS `news_newslike`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_newslike` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `news_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `news_newslike_news_id_488cc88e_fk_news_news_id` (`news_id`),
  KEY `news_newslike_user_id_7365d37e_fk_users_customuser_id` (`user_id`),
  CONSTRAINT `news_newslike_news_id_488cc88e_fk_news_news_id` FOREIGN KEY (`news_id`) REFERENCES `news_news` (`id`),
  CONSTRAINT `news_newslike_user_id_7365d37e_fk_users_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `users_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_newslike`
--

LOCK TABLES `news_newslike` WRITE;
/*!40000 ALTER TABLE `news_newslike` DISABLE KEYS */;
/*!40000 ALTER TABLE `news_newslike` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news_newstag`
--

DROP TABLE IF EXISTS `news_newstag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_newstag` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_newstag`
--

LOCK TABLES `news_newstag` WRITE;
/*!40000 ALTER TABLE `news_newstag` DISABLE KEYS */;
/*!40000 ALTER TABLE `news_newstag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams_coach`
--

DROP TABLE IF EXISTS `teams_coach`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams_coach` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `joined_date` date DEFAULT NULL,
  `image` varchar(100) DEFAULT NULL,
  `biography` longtext NOT NULL,
  `order` int NOT NULL,
  `team_type_id` bigint NOT NULL,
  `position_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `teams_coach_team_type_id_ca0ee5e6_fk_leagues_teamtype_id` (`team_type_id`),
  KEY `teams_coach_position_id_21717ec2_fk_teams_coachposition_id` (`position_id`),
  CONSTRAINT `teams_coach_position_id_21717ec2_fk_teams_coachposition_id` FOREIGN KEY (`position_id`) REFERENCES `teams_coachposition` (`id`),
  CONSTRAINT `teams_coach_team_type_id_ca0ee5e6_fk_leagues_teamtype_id` FOREIGN KEY (`team_type_id`) REFERENCES `leagues_teamtype` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams_coach`
--

LOCK TABLES `teams_coach` WRITE;
/*!40000 ALTER TABLE `teams_coach` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams_coach` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams_coachposition`
--

DROP TABLE IF EXISTS `teams_coachposition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams_coachposition` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `order` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams_coachposition`
--

LOCK TABLES `teams_coachposition` WRITE;
/*!40000 ALTER TABLE `teams_coachposition` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams_coachposition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams_management`
--

DROP TABLE IF EXISTS `teams_management`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams_management` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `email` varchar(254) DEFAULT NULL,
  `image` varchar(100) DEFAULT NULL,
  `biography` longtext NOT NULL,
  `order` int NOT NULL,
  `position_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `teams_management_position_id_e78ae58b_fk_teams_man` (`position_id`),
  CONSTRAINT `teams_management_position_id_e78ae58b_fk_teams_man` FOREIGN KEY (`position_id`) REFERENCES `teams_managementposition` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams_management`
--

LOCK TABLES `teams_management` WRITE;
/*!40000 ALTER TABLE `teams_management` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams_management` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams_managementposition`
--

DROP TABLE IF EXISTS `teams_managementposition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams_managementposition` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `order` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams_managementposition`
--

LOCK TABLES `teams_managementposition` WRITE;
/*!40000 ALTER TABLE `teams_managementposition` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams_managementposition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams_player`
--

DROP TABLE IF EXISTS `teams_player`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams_player` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `joined_date` date DEFAULT NULL,
  `image` varchar(100) DEFAULT NULL,
  `biography` longtext NOT NULL,
  `number` int unsigned DEFAULT NULL,
  `order` int NOT NULL,
  `position_id` bigint NOT NULL,
  `team_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `teams_player_position_id_55866e79_fk_teams_playerposition_id` (`position_id`),
  KEY `teams_player_team_type_id_93a8b571_fk_leagues_teamtype_id` (`team_type_id`),
  CONSTRAINT `teams_player_position_id_55866e79_fk_teams_playerposition_id` FOREIGN KEY (`position_id`) REFERENCES `teams_playerposition` (`id`),
  CONSTRAINT `teams_player_team_type_id_93a8b571_fk_leagues_teamtype_id` FOREIGN KEY (`team_type_id`) REFERENCES `leagues_teamtype` (`id`),
  CONSTRAINT `teams_player_chk_1` CHECK ((`number` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams_player`
--

LOCK TABLES `teams_player` WRITE;
/*!40000 ALTER TABLE `teams_player` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams_player` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams_playerposition`
--

DROP TABLE IF EXISTS `teams_playerposition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams_playerposition` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `order` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams_playerposition`
--

LOCK TABLES `teams_playerposition` WRITE;
/*!40000 ALTER TABLE `teams_playerposition` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams_playerposition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams_team`
--

DROP TABLE IF EXISTS `teams_team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams_team` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `short_name` varchar(100) DEFAULT NULL,
  `logo` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams_team`
--

LOCK TABLES `teams_team` WRITE;
/*!40000 ALTER TABLE `teams_team` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams_team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_customuser`
--

DROP TABLE IF EXISTS `users_customuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_customuser` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_customuser`
--

LOCK TABLES `users_customuser` WRITE;
/*!40000 ALTER TABLE `users_customuser` DISABLE KEYS */;
INSERT INTO `users_customuser` VALUES (1,'pbkdf2_sha256$1200000$8zugGvmbyK4fJTskqc2Ol0$6HsRyQ2xL3Txkbx7+Ee+qsASMX0bRkCWVWokNi4Lt+c=',NULL,1,'admin','','','admin@gmail.com',1,1,'2026-02-09 20:46:55.939739');
/*!40000 ALTER TABLE `users_customuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_customuser_groups`
--

DROP TABLE IF EXISTS `users_customuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_customuser_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_customuser_groups_customuser_id_group_id_76b619e3_uniq` (`customuser_id`,`group_id`),
  KEY `users_customuser_groups_group_id_01390b14_fk_auth_group_id` (`group_id`),
  CONSTRAINT `users_customuser_gro_customuser_id_958147bf_fk_users_cus` FOREIGN KEY (`customuser_id`) REFERENCES `users_customuser` (`id`),
  CONSTRAINT `users_customuser_groups_group_id_01390b14_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_customuser_groups`
--

LOCK TABLES `users_customuser_groups` WRITE;
/*!40000 ALTER TABLE `users_customuser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_customuser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_customuser_user_permissions`
--

DROP TABLE IF EXISTS `users_customuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_customuser_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_customuser_user_pe_customuser_id_permission_7a7debf6_uniq` (`customuser_id`,`permission_id`),
  KEY `users_customuser_use_permission_id_baaa2f74_fk_auth_perm` (`permission_id`),
  CONSTRAINT `users_customuser_use_customuser_id_5771478b_fk_users_cus` FOREIGN KEY (`customuser_id`) REFERENCES `users_customuser` (`id`),
  CONSTRAINT `users_customuser_use_permission_id_baaa2f74_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_customuser_user_permissions`
--

LOCK TABLES `users_customuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `users_customuser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_customuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-09 21:09:26
