{% extends "judge/judge.html" %} {% load static %} {% block title %}FC Dinamo - {{ page_title }}{% endblock title %} {% block css %} {% endblock css %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center gap-2 mb-3">
                <span class="me-2 fw-semibold">Filter:</span>
                <form method="get" class="d-flex gap-2">
                    <!-- Records Per Page -->
                    <select class="form-select form-control my-1 my-md-0" name="per_page" onchange="this.form.submit()">
                        <option value="5" {% if per_page == "5" %}selected{% endif %}>5</option>
                        <option value="10" {% if per_page == "10" %}selected{% endif %}>10</option>
                        <option value="15" {% if per_page == "15" %}selected{% endif %}>15</option>
                        <option value="20" {% if per_page == "20" %}selected{% endif %}>20</option>
                    </select>
                </form>
            </div>
            <form method="post">
                {% csrf_token %}
                <div data-table  data-table-rows-per-page="{{ per_page }}" class="card">
                    <div class="card-header border-light justify-content-between">
                        <div class="d-flex gap-2">
                            <div class="app-search">
                                <input data-table-search type="search" class="form-control" placeholder="Qidiruv..." />
                                <i class="ti ti-search app-search-icon text-muted"></i>
                            </div>
                            <button class="btn btn-danger d-none" type="submit" data-table-delete-selected>
                                Delete
                            </button>
                        </div>
                        <div class="d-flex gap-1">
                            <a href="#!" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClubModal">
                                <i class="ti ti-plus me-1 fs-sm"></i>
                                Homiy qo'shish
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                                <tr class="text-uppercase fs-xxs">
                                    <th class="ps-3" style="width: 1%">
                                        <input data-table-select-all class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" id="select-all-products" value="option" />
                                    </th>
                                    <th style="width: 1%;">Img</th>
                                    <th data-table-sort data-column="name" style="min-width: 150px;">Homiy nomi</th>
                                    <th class="text-center" style="width: 1%">Amallar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for club in clubs_list %}
                                <tr>
                                    <td class="ps-3">
                                        <input class="form-check-input form-check-input-light fs-14 product-item-check mt-0" type="checkbox" name="selected_ids" value="{{ club.id }}" />
                                    </td>
                                    <td>
                                        <div class="avatar-lg d-flex justify-content-center align-items-center">
                                            <img src="{{ club.logo.url }}" alt="{{ club.name }}" class="img-fluid rounded bg-white" />
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ club.link }}" target="_blank">{{ club.name }}</a>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-1">
                                            <a href="{% url 'judge_sponsors_edit' club.id %}" class="btn btn-default btn-icon btn-sm edit-club-btn" data-name="{{ club.name }}" data-short="{{ club.link }}" data-logo="{{ club.logo.name }}" data-bs-toggle="modal" data-bs-target="#editClubModal">
                                                <i class="ti ti-edit fs-lg"></i>
                                            </a>
                                            <a href="{% url 'judge_sponsors_delete' club.id %}" class="btn btn-default btn-icon btn-sm single-delete-btn">
                                                <i class="ti ti-trash fs-lg"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <ul class="pagination pagination-sm pagination-boxed mb-0 mx-auto">
                                <li class="page-item {% if not clubs_list.has_previous %}disabled{% endif %}">
                                    <a class="page-link" href="{% if clubs_list.has_previous %}?page={{ clubs_list.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for page in pagination_range %}
                                {% if page == '...' %}
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                {% elif page == clubs_list.number %}
                                <li class="page-item active"><a class="page-link" href="?{% if per_page %}per_page={{ per_page }}&{% endif %}page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?{% if per_page %}per_page={{ per_page }}&{% endif %}page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not clubs_list.has_next %}disabled{% endif %}">
                                    <a class="page-link" href="{% if clubs_list.has_next %}?{% if per_page %}per_page={{ per_page }}&{% endif %}page={{ clubs_list.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!-- Add New club Modal -->
    <div class="modal fade" id="addClubModal" tabindex="-1" aria-labelledby="addClubModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClubModalLabel">Yangi homiy qo'shish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" action="{% url 'judge_sponsors_add' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row g-3">
                            <!-- Club Name -->
                            <div class="col-12">
                                <label for="clubName" class="form-label">Homiy nomi <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="clubName" name="name" placeholder="Homiy nomini kiriting" required />
                            </div>
                            <!-- Club Short Name -->
                            <div class="col-12">
                                <label for="clubShortName" class="form-label">Link</label>
                                <input type="text" class="form-control" id="clubShortName" name="link" placeholder="Link kiriting" />
                            </div>
                            <!-- Club Short Name -->
                            <div class="col-12">
                                <label for="clubLogo" class="form-label">Homiy logosi <span class="text-danger">*</span></label>
                                <ul class="text-muted">
                                    <li>Tavsiya etilgan logo nisbati — <strong>2:1</strong>.</li>
                                    <li>Agar logo boshqa o'lchamda bo'lsa, tizim uni avtomatik moslashtiradi.</li>
                                    <li>Qo'llab-quvvatlanadigan formatlar: <strong>JPG, JPEG, PNG, WEBP, SVG</strong>.</li>
                                </ul>
                                <input type="file" class="form-control" id="clubLogo" name="logo" accept=".jpg,.jpeg,.png,.webp,.svg" required />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Yo'q</button>
                        <button type="submit" class="btn btn-primary">Homiy qo'shish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal-->
    <!-- Edit Club Modal -->
    <div class="modal fade" id="editClubModal" tabindex="-1" aria-labelledby="editClubModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClubModalLabel">Homiyni tahirilash</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" id="editClubForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row g-3">
                            <!-- Club Name -->
                            <div class="col-12">
                                <label for="clubName" class="form-label">Homiy nomi <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="clubName" name="name" placeholder="Homiy nomini kiriting" required />
                            </div>
                            <!-- Club Short Name -->
                            <div class="col-12">
                                <label for="clubShortName" class="form-label">Link</label>
                                <input type="text" class="form-control" id="clubShortName" name="link" placeholder="Link kiriting" required />
                            </div>
                            <!-- Club Logo -->
                            <div class="col-12">
                                <label for="clubLogo" class="form-label">Homiy logosi</label>
                                <ul class="text-muted">
                                    <li>Tavsiya etilgan logo nisbati — <strong>2:1</strong>.</li>
                                    <li>Agar logo boshqa o'lchamda bo'lsa, tizim uni avtomatik moslashtiradi.</li>
                                    <li>Qo'llab-quvvatlanadigan formatlar: <strong>JPG, JPEG, PNG, WEBP, SVG</strong>.</li>
                                </ul>
                                <input type="file" class="form-control" id="clubLogo" name="logo" accept=".jpg,.jpeg,.png,.webp,.svg" />
                            </div>
                            <div class="col-12">
                                <p class="text-muted">
                                    Hozirgi fayl: <strong id="clubLogoName"></strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Yo'q</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal-->
</div>
{% endblock content %} {% block js %}
<script src="{% static 'js/pages/custom-table.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const editButtons = document.querySelectorAll(".edit-club-btn");
        const form = document.getElementById("editClubForm");

        const nameInput = document.querySelector("#editClubModal input[name='name']");
        const shortInput = document.querySelector("#editClubModal input[name='link']");
        const logoText = document.getElementById("clubLogoName");

        editButtons.forEach(btn => {
            btn.addEventListener("click", function () {
                form.action = this.href;
                nameInput.value = this.dataset.name;
                shortInput.value = this.dataset.short;
                logoText.innerText = this.dataset.logo;
            });
        });
    });
</script>
{% endblock js %}