{% extends "judge/judge.html" %} {% load static %} {% block title %}FC Dinamo - {{ page_title }}{% endblock title %} {% block css %} {% endblock css %}
{% block content %}
<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Aloqa ma'lumotlarini sozlash</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Telifon raqam <span class="text-muted">(Klub bilan bog'lanish)</span></label>
                            <input type="text" class="form-control py-2" id="phone" name="phone" value="{{ contact.phone }}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email <span class="text-muted">(Klub pochtasi)</span></label>
                            <input type="email" class="form-control py-2" id="email" name="email" value="{{ contact.email }}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Manzil <span class="text-muted">(Klub manzili)</span></label>
                            <textarea class="form-control py-2" id="address" name="address" rows="5">{{ contact.address }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 mb-4 d-flex gap-2 justify-content-center">
            <a href="{% url 'judge_contacts' %}" class="btn btn-danger fw-semibold"> Saqlamaslik </a>
            <button type="submit" class="btn btn-success"> Saqlash </button>
        </div>
    </form>
</div>
{% endblock content %} {% block js %} {% endblock js %}