.news-card-link:hover .news-card-title {
    text-decoration: underline;
}
.bg-none {
    background: none !important;
}
.form-circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
}
.form-circle.big {
    width: 28px;
    height: 28px;
    border: 2px solid;
}
.player-card-bg {
    background-image: url('../images/player-card-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.player-card {
    transition: 0.3s;
}

.player-card:hover {
    background-color: #0b2a4a !important;
}

.player-card:hover .player-title {
    color: #fff !important;
}

.player-number {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 45px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px #313a46;
    line-height: 1;
    font-family: Arial, sans-serif;
}

.player-card:hover .player-number {
    color: #0b2a4a !important;
}

.player-number-dark {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 65px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px #4c4c5c;
    line-height: 1;
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
    .player-number {
        font-size: 36px;
        -webkit-text-stroke: 1px #313a46;
        top: 6px;
        right: 6px;
    }

    .player-number-dark {
        font-size: 46px;
        -webkit-text-stroke: 1.2px #4c4c5c;
        top: 6px;
        right: 6px;
    }
    .player-title {
        font-size: 16px;
    }
}

.user-card-bg {
    background-image: url('../images/stadium.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}