{% load static %}
<header class="topnav">
    <nav class="navbar navbar-expand-lg">
        <nav class="container">
            <div class="collapse navbar-collapse" id="topnav-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" role="button">
                            <span class="menu-text">Bosh sahifa</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-news" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-text">Yangiliklar</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-news">
                            <a href="{% url 'news_all' %}" class="dropdown-item"><span>Barcha yangiliklar</span></a>
                            {% for category in categorys %}
                            <a href="{% url 'news' category.code %}" class="dropdown-item"><span>{{ category.name }}</span></a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-matches" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-text">O'yinlar jadvali</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-matches">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-finished" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Yakunlangan o'yinlar</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-finished">
                                    {% for category in categorys %}
                                    <a href="{% url 'matches_finished' category.code %}" class="dropdown-item"><span>{{ category.name }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-upcoming" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Navbatdagi o'yinlar</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-upcoming">
                                    {% for category in categorys %}
                                        <a href="{% url 'matches_upcoming' category.code %}" class="dropdown-item"><span>{{ category.name }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-tables" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Turnir jadvali</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-tables">
                                    {% for category in categorys %}
                                        <a href="{% url 'standings' category.code %}" class="dropdown-item"><span>{{ category.name }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-team" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-text">Jamoa</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-team">
                            <a href="{% url 'managements' %}" class="dropdown-item"><span>Raxbariyat</span></a>
                            <a href="{% url 'coaches' %}" class="dropdown-item"><span>Murabbiylar</span></a>
                            {% for category in categorys %}
                            <a href="{% url 'players' category.code %}" class="dropdown-item"><span>{{ category.name }}</span></a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-club" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-text">Klub</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-club">
                            <a href="{% url 'club_history' %}" class="dropdown-item"><span>Klub tarixi</span></a>
                            <a href="{% url 'club_achievements' %}" class="dropdown-item"><span>Yutuqlar</span></a>
                            <a href="{% url 'club_stadium' %}" class="dropdown-item"><span>Stadion</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-media" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-text">Media</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-media">
                            <a href="#" class="dropdown-item"><span>Foto lavhalar</span></a>
                            <a href="{% url 'galery_video' %}" class="dropdown-item"><span>Video lavhalar</span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}" role="button">
                            <span class="menu-text">Aloqa</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>