{% load static %}
{% if request.user.is_authenticated %}
<div id="user-dropdown-detailed" class="topbar-item nav-user">
    <div class="dropdown">
        <a class="topbar-link dropdown-toggle drop-arrow-none px-2" data-bs-toggle="dropdown" href="#!"
            aria-haspopup="false" aria-expanded="false">
            <img src="{% static 'images/user.jpg' %}" width="32" class="rounded-circle me-lg-2 d-flex"
                alt="user-image" />
            <div class="d-lg-flex align-items-center gap-1 d-none">
                <span>
                    <h5 class="my-0 lh-1 pro-username">@{{ request.user.username }}</h5>
                    <span class="fs-xs lh-1">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                </span>
                <i class="ti ti-chevron-down align-middle"></i>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end">

            <!-- My Profile -->
            <a href="#" class="dropdown-item">
                <i class="ti ti-user-circle me-1 fs-lg align-middle"></i>
                <span class="align-middle">Profil</span>
            </a>

            <!-- Settings -->
            <a href="#" class="dropdown-item">
                <i class="ti ti-settings-2 me-1 fs-lg align-middle"></i>
                <span class="align-middle">Sozlamalar</span>
            </a>
            {% if request.user.is_superuser %}
            <!-- Settings -->
            <a href="{% url 'judge' %}" target="_blank" class="dropdown-item">
                <i class="ti ti-lock-password me-1 fs-lg align-middle"></i>
                <span class="align-middle">Saytni sozlash</span>
            </a>
            {% endif %}

            <!-- Divider -->
            <div class="dropdown-divider"></div>

            <!-- Logout -->
            <a href="{% url 'sign-out' %}" class="dropdown-item fw-semibold">
                <i class="ti ti-logout me-1 fs-lg align-middle"></i>
                <span class="align-middle">Chiqish</span>
            </a>
        </div>
    </div>
</div>
{% else %}
<div class="topbar-item nav-user">
    <a href="{% url 'sign-in' %}" class="btn topbar-link me-2">
        <i class="ti ti-login topbar-link-icon"></i>
        <span class="topbar-link-text ms-1 d-none d-md-inline">Kirish</span>
    </a>
</div>
{% endif %}