<div class="container">
    <div class="row justify-content-center">
        {% for group_name, players in groups.items %}
            <div class="col-12 col-lg-10">
                <h3 class="fw-bold my-4 text-uppercase">{{ group_name }}</h3>
                <div class="row">
                {% for item in players %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                        {% if url == 'management' %}
                        <a href="{% url 'management_detail' item.id %}">
                        {% elif url == 'coach' %}
                        <a href="{% url 'coach_detail' item.id %}">
                        {% elif url == 'men' %}
                        {% if item.number %}
                        <a href="{% url 'men_detail' item.id %}">
                        {% else %}
                        <a href="{% url 'coach_detail' item.id %}">
                        {% endif %}
                        {% else %}
                        {% if item.number %}
                        <a href="{% url 'women_detail' item.id %}">
                        {% else %}
                        <a href="{% url 'coach_detail' item.id %}">
                        {% endif %}
                        {% endif %}
                            <div class="card border-light h-100 rounded-0">
                                <div class="card-body text-center player-card p-0">
                                    <div class="{% if item.number %}player-card-bg{% else %}bg-light{% endif %} position-relative mb-3">
                                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid w-100">
                                    </div>
                                    <h3 class="text-dark player-title">{{ item.name }}</h3>
                                    {% if item.number %}
                                        <h1 class="player-number">{{ item.number }}</h1>
                                    {% else %}
                                        <span class="text-muted">{{ item.position.title }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
